body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    font-size: 12px;
    text-align: justify;
    padding: 0;
    margin: 0
}
p {
    margin-top: 0;
}
.a4-page {
    width: 794px;
    min-height: 1050px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.a4-page.landscape {
    width: 1050px;
    min-height: 794px;

}
.paginacao {
    width: 100%;
    text-align: end;
}

/* MAIN HEADER */

.main-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
    border-bottom: 2px solid;
    border-top: 2px solid;
    align-items: center;
}
.logo-container {
    vertical-align: middle;
    height: 56px;    
    border-right: 2px solid;
    padding: 8px;
}
.logo-container>img {
    height: 100%;
}
.titulo {
    text-align: center;
    font-size: 18px;
    flex: 1;
}

/* HEADER */

.header {
    margin-bottom: 24px;
}
.image-header-cell {
    vertical-align: middle;
    height: 76px;
    width: 1%;
    padding: 8px;
}
.image-header-cell>img {
    height: 100%;
}

/* CONTENT */

.conteudo {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.situacao-outer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 24px 0;
}
.situacao-container {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    align-items: center;
    gap: 8px;
    padding: 24px;
}
.situacao {
    font-size: 24px;
    font-weight: bold;
}
.identificacao-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    padding: 8px 24px;
    row-gap: 16px;
    justify-content: space-between;
    border-left: 1px solid lightgray;
}
.identificacao-container>.key-value {
    box-sizing: border-box;
    min-width: 50%;
}

.termos {
    margin: 24px 0;
    padding: 24px 32px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

/* FOOTER */

.controle-outer-container {
    display: flex;
    flex-direction: row;
    border-top: 2px solid;
    gap: 24px;
    padding: 8px;
}
.qr-code-container {
    height: 100%;
}
.qr-code-container>img {
    width: 100px;
}
.controle-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* OTHER */

.key-value {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.key-value .key {
    font-weight: bold;
}

/* TABLE */

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
thead {
    display: table-header-group;
}
table th {
    font-weight: bold;
}
table th,
table td {
    border: 1px solid black;
    padding: 4px 8px;
}

table th:first-child, 
table td:first-child {
    border-left: none;
}

table th:last-child, 
table td:last-child {
    border-right: none;
}

table.strong th,
table.strong td {
    border-width: 2px;
}

.vertical-text {
    writing-mode: vertical-lr; /* Gira o texto verticalmente */
    transform: rotate(180deg); /* Ajusta a direção do texto */
    text-align: center;
    vertical-align: middle;
  }
.tipo-debito {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.18);
}
.subtipo-debito {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.08);
}
.vertical-cell {
    width: 1%;
    background-color: rgba(0, 0, 0, 0.03);
}
.nowrap {
    white-space: nowrap;
}
.filial {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
}

tbody tr {
    page-break-inside: avoid;
}

@media print {
    table {
      width: 100%;
      border-collapse: collapse;
    }
  
    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }
  
    thead {
      display: table-header-group;
    }
  
    tbody {
      page-break-inside: avoid;
    }

    .filial, .tipo-debito {
      page-break-before: always;
    }

    .page-break {
      page-break-before: always;
    }
}
